.header {
  view-transition-name: Header;
  contain: layout;
}

/* ::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 1s;
}

::view-transition-group(root),
::view-transition-group(Increment) {
  animation-duration: 1s;
}

::view-transition-old(Increment),
::view-transition-new(Increment) {
  animation-duration: 1s;
} */
